/* Aplicar el fondo en el body para toda la pantalla */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 background-image: url('./imagenes/pordo.png'); /* Ruta desde la carpeta public */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100%; /* Asegura que el body ocupe toda la altura de la pantalla */
  width: 100%; /* Asegura que el body ocupe todo el ancho de la pantalla */
}

/* Asegurarse de que el contenedor ocupe toda la pantalla */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana visible */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
  padding: 20px;
}

.welcome-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.welcome-section h1 {
  font-size: 50px;
  color: #052131;
  margin-bottom: 10px;
}

.welcome-section p {
  font-size: 20px;
  color: #555;
}

.image-section {
  width: 200px; /* Aumenta el tamaño de la imagen */
  height: 150px; /* Aumenta el tamaño de la imagen */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  max-width: 400px; /* Tamaño reducido */
  height: auto;
  border-radius: 10%; /* Bordes redondeados */
}
/* Estilos para el botón */
.access-button {
  margin-top: 20px; /* Espacio entre el texto y el botón */
  padding: 15px 17px; /* Tamaño del botón */
  background-color: #248D24; /* Color de fondo verde */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 20px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de la fuente */
  cursor: pointer; /* Cambio de cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.access-button:hover {
  background-color: #1e7e1e; /* Color más oscuro al pasar el ratón */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */

}